@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

body{
    font-family: "Poppins", sans-serif;
    font-size: .875rem;
    border: 1px solid red;
    background-image: url(./images/bg-intro-mobile.png);
    background-color:hsl(0, 100%, 74%) ;
    color: #ffffff;
    min-height: 100vh;
    padding: 1rem;
}
.Code{
    text-align: center;
}
.Code p{
margin-block: 1rem 2.5rem;
}

h1{
font-size: 1.5rem;
font-weight: 700;
}
p{
font-weight: 400;

}
.Discount-CTA{
    border-radius:0.5rem; 
    background-color:hsl(248, 32%, 49%);
     text-align: center;
     padding: 1rem;
     margin-bottom: 1rem;

}
.Discount-CTA span{
   font-weight: 200;
    

}
form{
    background-color: #ffffff;
    border-radius: 1rem;
    padding: 1rem;
}
input{
    padding: 1rem 1.75rem;
    width: 100%;
    font-size: .75rem;
    font-weight:500 ;
    color:hsl(249, 10%, 26%)  ;
    border-radius: .25rem;
    margin-bottom: .5rem;
    border: 1px solid hsl(246, 25%, 77%) ;
}

input::placeholder{
    font-size: .75rem;
    font-weight: 700;
}

button{
   border: transparent; 
   padding: 1rem;
   text-align: center;
   background-color: hsl(154, 59%, 51%);
   color: #ffffff;
   text-transform: uppercase;
   width: 100%;
   font-weight: 500;
   border-radius: .25rem;
   margin-bottom: .5rem;

}
form p{
 font-size: .75rem;   
 color:hsl(246, 25%, 77%) ;
 text-align: center;
}
 
form span{
    color: hsl(0, 100%, 74%) ;
    font-weight: 600;
    
}
















.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

